<h1 style="color:red">
    Upload File AWS S3
</h1>

<form method="post" enctype="multipart/form-data">
    <label>Selecciona un fichero</label>    
    <input type="file" name="file" class="form-control" />
    <button class="btn btn-info">
        Upload file
    </button>
</form>